### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Editor / IDE ###
.idea/
.vscode/
*.swp
*~
Session.vim

### Env / local ###
.env
venv/
__pycache__/
*.py[cod]
*.log

### Zola ###
public/
docs/
