{% extends 'base.html' %}{% load static %}{% load i18n %}
{% comment %}

If we empty block css (that means unexistent campaign.css in page), the wiki CSS stylesheet will start a apply its own styles.
Otherwise, none of them (of wiki.css) will be applied, even if it has !important mark.

{% block css %}{% endblock css %}
{% block extracss %}<link rel="stylesheet" type="text/css" href="{% static 'css/wiki.css' %}" title="Wiki Stylesheet">{% endblock extracss %}
{% endcomment %}
{% block active_wiki %}<a class="active" href="{% url 'wiki' %}">Wiki</a>{% endblock active_wiki %}
{% block content_title %}{{ game.title|escape }}{% endblock content_title %}
{% block content_body %}
{{ game.description|safe }}
<h2>Status Legend</h2>
{% include 'partial/legend.html' %}
<h2>Support status</h2>
<table class="table-container" bgcolor='#eeeeee' border='0' cellpadding='0' cellspacing='0' align='center' bgcolor='#000000' width='100%'><tr><td>
{% include 'partial/game_support.html' %}
</table>
{% for regulation in regulations %}
<h2>{{regulation.title}}</h2>
{{ regulation.description|safe }}
{% endfor %}
{% endblock content_body %}
{% block prefooter %}
    <p class="left small-padding small-font">This page was last edited on: {{ game.last_modified }}</p>
    <p class="left small-padding small-font">This page was published by: {{ game.published_by }}</p>
    <p class="left small-padding small-font">Content is available under <a class="no-padding small-font" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike</a> unless otherwise noted.</p>
{% endblock prefooter %}