{% extends 'base.html' %} {% load i18n %} {% load static %}
{% block active_wiki %}<a class="active" href="{% url 'wiki' %}">Wiki</a>{% endblock active_wiki %}
{% block content_title %}Wiki{% endblock content_title %}
{% block content_body %}
<p>Small description of the wiki.</p>
{% lorem 4 p random %}
<h2>Supported Games</h2>
{% comment %}
<!-- It doesn't see well in Dillo (small screen). overflow is not supported. -->
<div style="overflow-x:auto;">
    <table class="table-container wiki center">
        <thead>
            <tr>
                <th>Title</th>
                <th>Documentation</th>
                <th>Supported Rules</th>
                <th>Single Player</th>
                <th>Multiplayer</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <!-- .wiki td:nth-child(even) is not supported in Dillo -->
            <tr {% if forloop.counter|divisibleby:2 %} class="gray" {% endif %}>
                <td class="center">{{ game.title|escape }}</td>
                <td class="center {% if game.documentation == "Y" %} yes {% else %}{% if game.documentation == "N" %} no {% else %}{% if game.documentation == "P" %} partial {% else %} unavailable {% endif %}{% endif %}{% endif %}">{{ game.documentation|escape }}</td>
                <td class="center {% if game.supported_rules == "Y" %} yes {% else %}{% if game.supported_rules == "N" %} no {% else %}{% if game.supported_rules == "P" %} partial {% else %} unavailable {% endif %}{% endif %}{% endif %}">{{ game.supported_rules|escape }}</td>
                <td class="center {% if game.single_player == "Y" %} yes {% else %}{% if game.single_player == "N" %} no {% else %}{% if game.single_player == "P" %} partial {% else %} unavailable {% endif %}{% endif %}{% endif %}">{{ game.single_player|escape }}</td>
                <td class="center {% if game.multiplayer == "Y" %} yes {% else %}{% if game.multiplayer == "N" %} no {% else %}{% if game.multiplayer == "P" %} partial {% else %} unavailable {% endif %}{% endif %}{% endif %}">{{ game.multiplayer|escape }}</td>
                <td class="center">{% if game.notes %}{{ game.notes|safe }}{% else %}{% trans "No notes available" %}.{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endcomment %}
<div style="overflow-x:auto;">
    <table style="border:1px solid black;" class="table-container" bgcolor='#eeeeee' border='0' cellpadding='0' cellspacing='0' align='center' bgcolor='#000000' width='100%'><tr><td>
        <table border='0' cellpadding='5' cellspacing='1' width='100%'>
        <tr>
        <td class="small-padding" style="border-bottom:1px solid black;" bgcolor='#eeeeee'>
        <p class="bold">Legend</p>
        <tr>
        <td bgcolor='#eeeeee'>
            <table class="padding" border='0' cellspacing='0' cellpadding='5'><tr><td>
            <ul>
                <li class="bold">Yes: <span class="bold yes">Y</span></li>
                <li class="bold">No: <span class="bold no">N</span></li>
                <li class="bold">Partial: <span class="bold partial">P</span></li>
                <li class="bold">Not Available: <span class="bold unavailable">Unavailable</span></li>
            </ul>
            {% if game.notes %}
            <p>{{ game.notes|escape }}</p>
            {% endif %}
            </table>
        </table>
    </table>
</div>
<div style="border-bottom: 1px solid #000000;"></div>
{% for game in games %}
<div style="overflow-x:auto;">
    <table class="table-container" bgcolor='#eeeeee' border='0' cellpadding='0' cellspacing='0' align='center' bgcolor='#000000' width='100%'><tr><td>
        <table border='0' cellpadding='5' cellspacing='1' width='100%'>
        <tr>
        <td class="small-padding" style="border-bottom:1px solid black;" bgcolor='#eeeeee'>
        <p class="red_links bold"><a href="{% url 'info_game' game.id game.title|escape %}">{{game.title|escape}}</a></p>
        <tr>
        <td bgcolor='#eeeeee'>
            <table class="padding" border='0' cellspacing='0' cellpadding='5'><tr><td>
            <ul>
                <li class="bold">Documentation: <span class="bold {% if game.documentation == "Y" %} yes {% else %}{% if game.documentation == "N" %} no {% else %}{% if game.documentation == "P" %} partial {% else %} unavailable {% endif %}{% endif %}{% endif %}">{{ game.documentation|escape }}</span></li>
                <li class="bold">Supported rules: <span class="bold {% if game.supported_rules == "Y" %} yes {% else %}{% if game.supported_rules == "N" %} no {% else %}{% if game.supported_rules == "P" %} partial {% else %} unavailable {% endif %}{% endif %}{% endif %}">{{ game.supported_rules|escape }}</span></li>
                <li class="bold">Single Player: <span class="bold {% if game.single_player == "Y" %} yes {% else %}{% if game.single_player == "N" %} no {% else %}{% if game.single_player == "P" %} partial {% else %} unavailable {% endif %}{% endif %}{% endif %}">{{ game.single_player|escape }}</span></li>
                <li class="bold">Multiplayer: <span class="bold {% if game.multiplayer == "Y" %} yes {% else %}{% if game.multiplayer == "N" %} no {% else %}{% if game.multiplayer == "P" %} partial {% else %} unavailable {% endif %}{% endif %}{% endif %}">{{ game.multiplayer|escape }}</span></li>
            </ul>
            {% if game.notes %}
            <p>{{ game.notes|escape }}</p>
            {% endif %}
            </table>
        </table>
    </table>
</div>
{% endfor %}
{% endblock content_body %}