{% extends 'base.html' %} {% load i18n %} {% load static %}
{% block active_wiki %}<a class="active" href="{% url 'wiki' %}">Wiki</a>{% endblock active_wiki %}
{% block content_title %}Wiki{% endblock content_title %}
{% block content_body %}
<p>Small description of the wiki.</p>
{% lorem 4 p random %}
<h2>Status Legend</h2>
{% comment %}
<!-- It doesn't see well in Dillo (small screen). overflow is not supported. -->
<div style="overflow-x:auto;">
    <table class="table-container wiki center">
        <thead>
            <tr>
                <th>Title</th>
                <th>Documentation</th>
                <th>Supported Rules</th>
                <th>Single Player</th>
                <th>Multiplayer</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <!-- .wiki td:nth-child(even) is not supported in Dillo -->
            <tr {% if forloop.counter|divisibleby:2 %} class="gray" {% endif %}>
                <td class="center">{{ game.title|escape }}</td>
                <td class="center {% if game.documentation == "Y" %} yes {% else %}{% if game.documentation == "N" %} no {% else %}{% if game.documentation == "P" %} partial {% else %} unavailable {% endif %}{% endif %}{% endif %}">{{ game.documentation|escape }}</td>
                <td class="center {% if game.supported_rules == "Y" %} yes {% else %}{% if game.supported_rules == "N" %} no {% else %}{% if game.supported_rules == "P" %} partial {% else %} unavailable {% endif %}{% endif %}{% endif %}">{{ game.supported_rules|escape }}</td>
                <td class="center {% if game.single_player == "Y" %} yes {% else %}{% if game.single_player == "N" %} no {% else %}{% if game.single_player == "P" %} partial {% else %} unavailable {% endif %}{% endif %}{% endif %}">{{ game.single_player|escape }}</td>
                <td class="center {% if game.multiplayer == "Y" %} yes {% else %}{% if game.multiplayer == "N" %} no {% else %}{% if game.multiplayer == "P" %} partial {% else %} unavailable {% endif %}{% endif %}{% endif %}">{{ game.multiplayer|escape }}</td>
                <td class="center">{% if game.notes %}{{ game.notes|safe }}{% else %}{% trans "No notes available" %}.{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endcomment %}

{# LEGEND GOES HERE #}
{% include 'partial/legend.html' %}
<h2>Supported Games</h2>
{% for game in games %}
    {% include 'partial/game_summary.html' %}
{% endfor %}
{% endblock content_body %}