/*---------------*/


/*-FOR ALL BEGIN-*/


/*---------------*/

* {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    font: 16px 'Tahoma', sans-serif;
    font-weight: inherit;
    color: #4B4B4B;
}

body {
    background: #f8f8f8;
}

img {
    border: none;
    background: none;
    margin: 0;
}

strong {
    font-weight: bold;
}

a {
    color: #a60f38;
}

p {
    padding: 7px 0px;
}

h1,
h2 {
    color: #a60f38;
    font: bold 30px 'Arial', sans-serif;
    border-bottom: 1px solid #d3d3d3;
    margin-top: 10px;
    margin-bottom: 6px;
}

h2 {
    font: bold 20px 'Arial', sans-serif;
}

h3 {
    color: #333;
    font: bold 100% 'Arial', sans-serif;
    padding: 6px 3px 1px 3px;
    position: relative;
}

table {
    width: 100% !;
}

th {
    font-weight: bold;
    vertical-align: top;
    padding: 4px 0px;
}

td {
    vertical-align: middle;
}

ul {
    padding: 7px 15px;
    padding-bottom: 10px;
}

a:link {
    color: #a60f38;
    text-decoration: underline;
}

a:visited {
    color: #a60f38;
    text-decoration: underline;
}

a:active {
    color: #a60f38;
    text-decoration: underline;
}

a:hover {
    color: #e70000;
    text-decoration: underline;
}

.clearwidth {
    /*	width:770px; */
    clear: both;
}

.table-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.small-font {
    font: normal 10px/14px 'Tahoma', sans-serif;
}

.no-padding {
    padding: 0;
}

.small-padding {
    padding: 5px;
}

.padding {
    padding: 10px;
}

.padding_double {
    padding: 30px;
}

.padding_vert {
    padding: 10px 0px;
}

.gray {
    border-bottom: 1px solid #d3d3d3;
}

.dark_red {
    color: #a60f38;
}

a.big_red {
    color: #C25025;
    padding: 0px 0 0px 6px;
    font: bold 100% 'Arial', sans-serif;
}

a.big_red:hover {
    color: #ee2055;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.quot {
    border: 1px dashed #E2DEB1;
    background: #FFFBD2;
    margin: 10px 20px;
    padding: 15px;
    font: 100% 'Trebuchet', 'Times New Roman', sans-serif;
}

.code {
    border: 1px dashed #E2E2DC;
    background: #F0F0F0;
    margin: 10px 20px;
    padding: 15px;
    font: 100% 'Times New Roman', 'Courier', monospace;
}

.grey {
    background: #eee;
    border: 1px dashed #D3D3D3;
}

.last_modify {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #999;
    background: none;
    font: 100% 'Tahoma', sans-serif;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}


/*-------------*/


/*-FOR ALL END-*/


/*-------------*/

#global {
    width: 100%;
}

#header {
    height: 75px;
    width: 100%;
    background: #a60f38;
    position: relative;
}

#header img {
    display: block;
}

#header_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 13px;
    background: #247DB3;
}

#header_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 13px;
    border: none;
    background: #247DB3;
}

#headerleft2 {
    width: 14px;
    height: 13px;
    float: left;
}

#headerright2 {
    width: 14px;
    height: 13px;
    float: right;
}

#logo {
    position: absolute;
    vertical-align: middle;
    top: 0px;
    left: 0px;
    margin: 0px 0 0 15px;
    padding: 0;
    display: block;
}

#slogan {
    top: 40px;
    left: 145px;
    position: absolute;
    padding: 0;
    display: block;
}

#header .last_modify {
    color: #fff;
}

#navigation {
    height: 41px;
    background-color: #000;
    text-align: center;
}

.borC25025 {
    clear: both;
    background-color: #C25025;
    height: 5px;
    font-size: 0;
}

#navigation a {
    color: #fff;
    vertical-align: middle;
    display: block;
    margin: 0;
    float: left;
    text-decoration: underline;
    font: bold 11px/15px 'Tahoma', sans-serif;
    background: #000;
}

#main {
    min-height: 100vh;
}

#left_column {
    padding-right: 200px;
}

#right_content {
    float: right;
    width: 193px;
}

.bannermarg {
    padding-bottom: 4px !important;
    padding-bottom: 7px;
}

.banners_silver_block {
    width: 193px;
    color: #818181;
    background: #eee;
    padding: 12px 0 12px 0;
    vertical-align: middle;
    text-align: center;
}


/*FOOTER*/

.navigation {
    padding: 10px;
}

#navfooter {
    border-top: 5px solid #C25025;
    color: #818181;
}

#navmenu {
    border-top: 5px solid #eeeeee;
    background: #950d32;
    color: #818181;
}

#navlang {
    border-top: 5px solid #C25025;
    border-bottom: 5px solid #C25025;
    color: #818181;
}


/* 

#1C71AA is the standard color for links
I don't know if I should follow the standard
or follow the color palette of the web page.

*/

.whitelinks a {
    color: #ffffff;
    text-decoration: underline;
    font: bold 16px/20px 'Tahoma', sans-serif;
}

.whitelinks a.active {
    color: #deb2bd;
}

.whitelinks a:hover {
    color: #deb2bd;
}

.redfooterlinks a {
    color: #a60f38;
    text-decoration: underline;
}

.redlinks a {
    color: #a60f38;
    text-decoration: underline;
    font: bold 16px/20px 'Tahoma', sans-serif;
}

.redlinks a.small-font {
    color: #a60f38;
    text-decoration: underline;
    font: normal 10px/14px 'Tahoma', sans-serif;
}

.redlinks a:hover {
    color: #e70000;
}

.redlinks img {
    vertical-align: middle;
    background: #fff;
    padding: 3px;
}


/***** WIKI STUFF  *****/

.wiki {
    width: 100%;
}

table.wiki,
.wiki th,
.wiki td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 7px;
    text-align: center;
}

.wiki th,
.wiki .gray {
    background: #eaecf0;
}

.wiki .partial {
    background: #ffcfa5;
}

.partial {
    color: #ff8c00;
}

.wiki .unavailable {
    background: #e1e1e1;
}

.unavailable {
    color: #000000;
}

.wiki .yes {
    background: #cfffbf;
}

.yes {
    color: #008000;
}

.wiki .no {
    background: #ffbfbf;
}

.no {
    color: #8b0000;
}

.wiki-game-table {
    padding: 7px 0px;
}

.wiki-game-table>p:first-child {
    padding: 0;
}

.wiki-game-table>ul:first-child {
    padding: 0px 15px;
}

.wiki-game-table tr:first-child {
    background: #eaecf0;
}

.wiki-game-table tr:nth-child(odd) {
    background: #eaecf0;
}

.wiki-game-table tr:nth-child(even) {
    background: #ffffff;
}

.wiki-game-table td {
    border: 1px solid #a2a9b1;
    vertical-align: middle;
    padding: 5px;
}

.wiki-game-table td:first {
    padding: 0px;
}

.wiki-game-table table {
    border-collapse: collapse;
}


/*********************/