{% load static %}{% load l10n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    {% block head %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Cartes{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/campaign.css' %}" title="Campaign Stylesheet">
    {% endblock head %}
</head>

<body>
    <div id="global">
        {% block content %}
        <a name="top"></a>
        <!-- HEADER BEGIN-->
        <div id="header">
            {% block header %}
            <div id="header_left2"></div>
            <div id="header_right2"></div>
            <div id="logo"><img style="border:0;width:128px;height:128px;" src="{% static 'assets/img/logo/WCartes2_128x128.png' %}" alt="logo" width="128" height="128"></div>
            <div id="slogan">TCartes</div>
        </div>
        {% endblock header %}
        <!-- HEADER END-->
        <!-- TOP NAVIGATION BEGIN-->
        <!-- startskip -->
        
        <!-- Dillo 3.0.5 does not support margin or paddings in non-containers. -->
        <!-- So, we have to put &nbsp; on it. -->
        <div id="navigation_menu" class="navigation">
            <div class="blue_links">
                {% block menu %}
                <a href="/home/">Home</a>&nbsp;&nbsp;&nbsp;
                <a href="/blog/">Blog</a>&nbsp;&nbsp;&nbsp;
                <a href="/download/">Download</a>&nbsp;&nbsp;&nbsp;
                <a href="/faq/">FAQ</a>&nbsp;&nbsp;&nbsp;
                <a href="/wiki/">Wiki</a>&nbsp;&nbsp;&nbsp;
                <a href="/source/">Source</a>&nbsp;&nbsp;&nbsp;
                <a href="/donate/">Donate</a>&nbsp;&nbsp;&nbsp;
                {% endblock menu %}
            </div>
        </div>
        <div id="navigation_lang" class="navigation">
            <div class="blue_links">
                {% block languages %}
                    <a href="https://anybrowser.org/campaign/abdesign.html">Català</a>&nbsp;&nbsp;&nbsp;
                    <a href="https://anybrowser.org/campaign/abdesign.html">Deutsch</a>&nbsp;&nbsp;&nbsp;
                    <a href="https://anybrowser.org/campaign/abgraphics.html">English</a>&nbsp;&nbsp;&nbsp;
                    <a href="https://anybrowser.org/campaign/abfaq.html">Español</a>&nbsp;&nbsp;&nbsp;
                {% endblock languages %}
            </div>
        </div>
        <!-- endskip -->
        <div id="main">
        <h1>{% block content_title %}Content title{% endblock content_title %}</h1>
            <div class="padding">
                {% block content_body %}
                Content body
                {% endblock content_body %}
                <!-- end contents -->
                <div class="blue_links center">
                    {% block badges %}
                    <a href="https://anybrowser.org/campaign/index.html"><img style="border:0;width:96px;height:32px;" src="{% static 'assets/img/button_enhanced.gif' %}" alt="Content Enhanced - Use Any Browser" class="banner_marg" width="96" height="32"></a>
                    <a href="http://www.opencontent.org/"><img style="border:0;width:85px;height:33px;" src="{% static 'assets/img/button_takeone.gif' %}" alt="Open Content" class="banner_marg" width="85" height="33"></a>
                    <a href="http://validator.w3.org/"><img style="border:0;width:88px;height:31px;" src="{% static 'assets/img/valid-xhtml10.png' %}" alt="W3C XHTML 1.0" class="banner_marg" width="88" height="31"></a>
                    <a href="https://jigsaw.w3.org/css-validator/"><img style="border:0;width:88px;height:31px;" src="{% static 'assets/img/vcss.gif' %}" alt="Valid CSS!" class="banner_marg" width="88" height="31"></a>
                    <a href="http://www.webstandards.org/"><img style="border:0;width:90px;height:35px;" src="{% static 'assets/img/wspnow.gif' %}" alt="Web Standards Now!" class="banner_marg" width="90" height="35"></a>
                    {% endblock badges %}
                </div>
            </div>
            <!-- LEFT END-->
            <div class="clear_width"></div>
        </div>
        <!-- FOOTER BEGIN-->
        <div id="navigation_footer" class="navigation">
            <div class="blue_links center">
                {% block footer %}
                <a href="#top">Top</a> {% endblock footer %}
            </div>
        </div>
        {% endblock content %}
    </div>
    <!-- FOOTER END-->
</body>

</html>