{# Seems that <tr> and <td> needs to be closed right? In Dillo no error is reported, so xhtml is valid. In fact, this table is cloned from Dillo's start page. #}
<table style="border:1px solid black;" class="table-container" bgcolor='#eeeeee' border='0' cellpadding='0' cellspacing='0' align='center' bgcolor='#000000' width='100%'><tr><td>
    <table border='0' cellpadding='5' cellspacing='1' width='100%'>
    <tr>
    <td class="small-padding" style="border-bottom:1px solid black;" bgcolor='#eeeeee'>
    <p class="bold">Legend</p>
    <tr>
    <td bgcolor='#eeeeee'>
        <table class="padding" style="margin-top:10px;" border='0' cellspacing='0' cellpadding='5'><tr><td>
        <ul>
            <li><span class="bold">Yes</span>, the feature is fully implemented: <span class="bold yes">Y</span></li>
            <li><span class="bold">No</span>, the feature is not implemented or not working: <span class="bold no">N</span></li>
            <li><span class="bold">Partial</span>, the feature is not fully implemented, or some parts are not working: <span class="bold partial">P</span></li>
            <li><span class="bold">Not Available</span>, the game does not have this feature: <span class="bold unavailable">Unavailable</span></li>
        </ul>
        </table>
    </table>
</table>